.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 103, 162);
    height: 70px;
    width: 100vw;
}
.left{
   margin: 0px 10px;
}
.right{
   display: flex;
}

.buttonWrapper{
    display: block;
}

.but{
   margin: 0px 40px -10px 40px;
    background-color: rgb(36, 103, 162);
}
.buttonText{
    font-size: 18px;
    color: white;
    font-weight: 700;
}