.answers-and-options{
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.answers-section{
    display: flex;
    align-items: center;
    padding: 2px 3px;
    color: rgb(28, 97, 153);
}
.answers-section>p{
    color: #075594;
    font-weight: 500;
}

.answer-input-field>input{
     background-color: #cee7fa;
     margin: 0 6px;
      padding:6px 10px;
      border:none;
      width: 60vw;
      border-radius: none;
       color: #215783;
}


