

/* contains css of Option.js and OptionList.js */

.option{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    width: 75vw;
    background-color:rgb(210, 231, 248);
}

.s-class{
    padding: 0px 10px;

}
.item-1{
  flex:1;
}
.item-2{
  flex: 16;
 
}
.item-3{
  flex: 1;
}

li{
    list-style: none;
}
