*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    
    background: url(./Login.svg) no-repeat center center fixed;
   

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
     background-size: cover;
     text-align: center; 
     /* justify-content: center;
     align-items: center; */

    
}
body div img{
    
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    /* margin-bottom: auto; */
    display: block;
    animation: enlarge  ease 7s  ;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
           
               
}
@keyframes enlarge {
    0% {
        transform: scale(0,0);
    }
    70% {
        transform: scale(1.7,1.7)  translate(0,0);
    }
    
    100% {
        transform: scale(0.8,0.8)  translate(-770px,-270px);
       
    }
}
/* @media screen and (min-width: 1920px),(min-height:1080px) {
    body div img{
        margin-top: 18%;
    }
    @keyframes enlarge {
        0% {
            transform: scale(0,0);
        }
        60% {
            transform: scale(1.8,1.8)  translate(0,0);
        }
        
        100% {
             
            transform: scale(0.8,0.8)  translate(-270%,-170%);
        }
    }
  } */
@media screen and (min-width: 1600px),(min-height:900px) {
    body div img{
        margin-top: 18%;
    }
    @keyframes enlarge {
        0% {
            transform: scale(0,0);
        }
        60% {
            transform: scale(1.8,1.8)  translate(0,0);
        }
        
        100% {
            transform: scale(0.8,0.8)  translate(-270%,-150%);
           
        }
    }
  }
/* @media screen and (min-width: 1366px),(min-height:768px) {
    body div img{
        margin-top: 18%;
    }
    @keyframes enlarge {
        0% {
            transform: scale(0,0);
        }
        60% {
            transform: scale(1.8,1.8)  translate(0,0);
        }
        
        100% {
            transform: scale(0.8,0.8)  translate(-270% , -150%);
           
        }
    }
  }

@media screen and (min-height:700px),(min-width:900px) {
    body div img{
        margin-top: 18%;
    }
    @keyframes enlarge {
        0% {
            transform: scale(0,0);
        }
        60% {
            transform: scale(1.8,1.8)  translate(0,0);
        }
        
        100% {
            transform: scale(0.8,0.8)  translate(-270% , -150%);
           
        }
    }
  } */




 