@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
 
}


.Question_body1{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    background-image: url('../../../../Images/User/test_background.png');  
    background-repeat: no-repeat;
    background-position: center center;
    /* background:no-repeat url(../../../../Images/User/testpage_bg.svg); */
}
.Question_body2{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
  /* background-color: #E8E8E8; */
  background-image: url('../../../../Images/User/test_background.png');  
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(16, 16, 2, 0.502);
  
    /* background:no-repeat url(../../../../Images/User/testpage_bg.svg); */
}
.test_nav1{
    display: flex;
    height: 3.5rem;
    background-color: #E5E5E5;
    opacity: 0.4;
}
.test_nav2{
    display: flex;
    height: 3.5rem;
    /* background-color: #E5E5E5; */
  /* background-color: rgba(16, 16, 2, 0.502); */
  background-color: rgba(16, 16, 2, 0.062);

  opacity: 0.6;

}
.test_nav1 img{
    height:40px;
    width: 40px;
    z-index:+1;
}
.test_nav2 img{
    height:40px;
    width: 40px;
}
.ques_logo{
    position: fixed;
    margin: 6px;
    margin-left: 30px;
}
.head{
    display: inline-block;
    margin: auto;  
}
.head h2{
    font-style: normal;
    /* font-style: bold; */
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1em;

}
.divider1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.divider2{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    
}

.dividerbtn{
    width: 175px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline:none;
    border:none;
}
.selectedbtn{
    width: 175px;
    height: 41px;
    margin: 20px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline:none;
    border:none;
    background: rgba(180, 183, 252, 0.22);
    box-shadow: none;  
}
 /* .divider button:hover{
    background: rgba(180, 183, 252, 0.22);
    box-shadow: none;
} */
#divide1{
    border-radius:15px 0px 0px 5px;
}
#divide5{
    border-radius: 0px 15px 5px 0px;
}
.question_sec h1{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin-left: 25px;
    margin-bottom: 5px;
}
.question_sec{
    padding: 30px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.question_sec h2{  
    /* font-family: 'Montserrat'; */
    margin-left: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.05rem;
    margin-top: 20px; 
}
.que_options1{
    margin-left: 15px;
    margin-top: 30px; 
}
.que_options2{
    margin-left: 15px;
    margin-top: 30px; 
    opacity: 0.4;
}

.que_options1 input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.que_options2 input{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.que_options1 label{
    font-style: normal;
    font-weight:bold;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-left: 22px;
}
.que_options2 label{
    font-style: normal;
    font-weight:bold;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-left: 22px;
}
.footer1{
    background: #E8E8E8;
  /* background-color: rgba(16, 16, 2, 0.502); */

    opacity: 0.7;
}
.footer2{
    /* background: #E8E8E8; */
  background-color: rgba(16, 16, 2, 0.062);

    opacity: 0.4;
}
.foot_btn{
    display: flex;
    justify-content: space-between;
}
.colors{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-top: 30px;
}
.foot_btn button{
    height: 40px;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: white;
    cursor: pointer;
    margin-top: 25px;
}
#mfr{
    background: blue;
    width: 250px;
    margin-left: 90px;
}
#s_n{
    width: 180px;
    background: green;
    margin-right: 50px;
}
.color_sel h2{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.0em;
}
.color_sel{
    display: flex;
}
.color_sel span{
    height: 25px;
    width: 25px;
    border-radius: 30px;
    background-color: black;
    margin-right: 30px;
}
#color1{
    background: #AE1615;
}
#color2{
    background: green;
}
#color3{
    background:blue;
}
