@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.Sidebar_body {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time_left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  height: 56px;
}
.time_left h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}
.time_measure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.time_counting2 {
  display: flex;
  flex-direction: column;
}
.time_num {
  margin-top: 22px;
  width: 71px;
  height: 60px;
  border-radius: 10px;
  background: #9facff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}
.time_text {
  margin-top: 7px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time_head {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background: #dbdbdb;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}
.test_btn{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

}
.test_btn button{
  cursor: pointer;
  width: 40px;
height: 40px;
background: #3B8039;
border: 1px solid #3B8039;
/* clip-path: polygon(50% 0%, 100% 0, 100% 99%, 0 99%, 0% 38%); */
margin-top:0.5rem;
}

.side_footer{
height: 150px;
display: flex;
justify-content: center;
}
.side_footer button{
  cursor: pointer;
  margin-top: 36px;
  width: 263px;
  height: 40px;
  background: #AE1615;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.1em;
color: #FFFFFF;

}
