.form_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 60%;
}
.icon_container {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: space-be; */
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  width: 30%;
}
.icon {
  padding-top: 1.5rem;
  transform: scale(1.8);
  /* border:1px solid red; */
}
.input_field {
  width: 80%;
  font-size: 4rem;

  /* gap:4rem; */
}
.button_container{
    width: 50%;
}