.form_body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  height: 100vh;
  background: url("../../../Images/User/updt_background.svg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: none;
}

.logocsi {
  top: 1rem;
  left: 1rem;
  height: 91px;
  width: 67px;
  position: fixed;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 1rem;
  /* width: 25%; */
  min-width: 25%;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 50px;
  margin-left: -16rem;
  column-gap: 2rem;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
  position: relative;
}

.all_input_fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: unset;
  margin-top: 3rem;
}

.admin_icon {
  top: -12%;
  height: 70px;
  width: 60px;
  transform: scale(1.5);
  position: absolute;
}

.admin_group {
  top: -15%;
  height: 80px;
  width: 60px;
  transform: scale(0.8);
  position: absolute;
}

.icon_container {
  display: flex;
  width: 70%;
}
.icon {
  border: 0.5px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  width: 80px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bars {
  width: 4px;
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 1px;
  height: 33px;

  background: #00a3ff;
  border-radius: 5px;
}

.input_field {
  width: 200%;
  font-size: 4rem;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.button_container {
  display: flex;

  margin-top: 2px;
  position: relative;
}

.btn {
  background: linear-gradient(90.13deg, #61f3f3 -29.51%, #db9cff 120.59%);
  height: 40px;
  border-radius: 2px;
  width: 140px;
  display: flex;
}
.captcha{
transform: scale(0.8);
transform-origin: 1 0;
margin-bottom: 0.2rem;
}

.img {
  margin-right: -7rem;
  margin-bottom: 8rem;
  animation: fadein 2s ease;
  animation-iteration-count: 1;
}
.computers {
  height: 480px;
  width: 456px;
  filter: drop-shadow(15px 15px 4px grey);
}
.errormsg_container {
  width: 60%;
  margin-bottom: 1rem;
}
.errormsg > span {
  text-align: left;
  font-size: 13px;
  color: red;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

