* {
    margin: 0;
    padding: 0;
  }
  
  .leader {
  display: flex;
    justify-content: center;
  }
  .top {
    color: white;
    font-weight: 500;
    font-size: 35px;
    font-family: 'Montserrat';
  font-style: normal;
  width: 18rem;
  padding: 8px;
  background: #8b8fff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  text-align: center;
  margin: 56px;
  color: #FFFFFF;
  }
  
  .outer_box {
    display: flex;
    justify-content: center;
  }
  
  .inputwrap {
    display: flex;
    justify-content: center;
  }
  .inputwrap input {
    height: 75px;
    width: 972px;
    padding: 30px;
    font-weight: 300;
    font-size: 30px;
    color: #c7c7c7;
  }
  
  .box3 {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  .content {
    box-sizing: border-box;
    width: 972px;
    height: 894px;
    background: #fffcfc;
    border: 0.5px solid #c5c5c5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .details {
    width: 924px;
    height: 385px;
    left: 294px;
    top: 473px;
    background: rgba(241, 218, 254, 0.5);
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }