*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.body-i{
    /* background: url(./images/updt_background.svg) no-repeat center center fixed; */
    /* background: url(./new-bg.svg) no-repeat ; */
    
    background: url(./new-bg2.svg)  ;
    
     text-align: center; 
     width:100vw;
  height: 100vh;
  background-size: 100% 100%;

    
}
.body-i .anime-2 .logo-new{
    margin-left: auto;
    margin-right: auto;
    /* display: ; */
    margin-top: 0%;
    animation: enlarge  ease 3s  ;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
           
               
}
@keyframes enlarge {
    0% {
        transform: scale(1,1);
        position: fixed;
        top:0%;
        left:45%;
    }
    50% {
        transform: scale(1,1);
        position:fixed;
        top:45%;
        left:45%;
    }
    75%{
        transform: scale(2,2);
        position:fixed;
        top:45%;
        left:45%;
    }
    100% {
        transform: scale(0.97,0.97);
        position:fixed;
        top:1.8%;
        left:1%;    
    }
    
}
/* @-webkit-keyframes enlarge {
    0% {
        transform: scale(0,0) ;
    }
    50% {
        transform: scale(3,3)  translate(0,0);
    }
    70%{
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1)  translate(-640px,-265px);
        display: none;
        
    }
    
} */




 