*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(213, 249, 249);
}
.homepage{
    display: block;
    align-items: center;
    justify-content: center;
}
.box{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 500px;
}