/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

.containerzz{
    height: 55vh;
    width: 60vw;
    background-color:  rgb(167, 222, 222);
    position: absolute;
    top: 22.5%;
    left: 20%;
    box-shadow: 4px 4px 8px 8px grey;
    border-radius:20px ;

}
  .error_msg{
    display: block;
    font-size: 0.9rem;
    color: red;
    margin: auto;
    text-align: left;
    width: 55%;
    margin-bottom:0.7%;
    opacity: 1;
  }
  .headertext{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headertxtCandidate{
    font-weight: 600;
  }
  .inputCandidate{
   margin-left: 30%;
   
  }
  .inputcandAdd{
    border: none;
    border-bottom: 2px solid grey;
    background-color:  rgb(167, 222, 222);
    color: #fff;
  }
  .buttonPositon{
    position: relative;
    top: 20%;
    left: 43%;
  }