.regcard{
    width: 70vw;
    height: 50vh;
    position: relative;
    background-color: aqua;
    box-shadow: 4px 4px 8px 8px grey;
    
}
.container
{
    position: absolute;
    top: 25%;
    left: 15%;
    right: 15%;
}
.TextRegister{
   
    text-align: center;
}
.inputtag{
    text-align: center;
}
.btnregx {
    /* background: rgba(57, 73, 171, 0.95); */
  border-radius: 50px;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  border: none;
  letter-spacing: -0.055em;
  position: relative;
  left: 47%;
  background-color: aqua;
  color:  aqua;
  }
  .error_msg{
    display: block;
    font-size: 0.9rem;
    color: red;
    margin: auto;
    text-align: left;
    width: 55%;
    margin-bottom:0.7%;
    opacity: 1;
  }